<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.dltk.core.typeEvaluators">
      <evaluator
            evaluator="com.yoursway.sadr.ruby.DltkTypeInferencingAdapter"
            nature="org.eclipse.dltk.ruby.core.nature">
      </evaluator>
   </extension>

</plugin>
